.DragAndDrop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px
}

@media (min-width: 600px) {
    
}

@media (min-width: 1000px) {
    
}

@media (min-width: 1500px) {
    
}

.DragAndDropCard {
    aspect-ratio: 5/6;
}